In [1]:
import os
import pandas as pd

path = os.getcwd()
path_input = path.replace("code", "input")
path_output = r'S:\OMNI\HerramientasCode\MappingDiario'
path_contrasenas = r'C:\Users\fcolin\Desktop\input\CredencialesConnect.json'
path_sap_reporte = r'S:\OMNI\HerramientasCode\MappingDiario\input'

In [2]:
# DRIVE ----------------------------------------------------------------------------------------------
Drive = pd.read_csv(r"S:\OMNI\HerramientasCode\MappingDiario\Mapping.csv")
Drive.sort_values(by=['creation_date'], ascending=False, inplace=True)
drive = Drive[["sku", "path"]]
drive = drive.drop_duplicates(subset="sku", keep="first")
drive.reset_index(drop=True, inplace=True)
drive["sku"] = drive["sku"].astype(str)
drive

              sku                        path
0      2215955070  \CONNECT\TODOS_LOS_TAMANOS
1      2218289070  \CONNECT\TODOS_LOS_TAMANOS
2      2300058012  \CONNECT\TODOS_LOS_TAMANOS
3      2301722098  \CONNECT\TODOS_LOS_TAMANOS
4      2301721030  \CONNECT\TODOS_LOS_TAMANOS
...           ...                         ...
64208  1700373100                 \Accesorios
64209  1609239100                 \Accesorios
64210  1606006100                 \Accesorios
64211  1602207100                 \Accesorios
64212  1508029100                 \Accesorios

[64213 rows x 2 columns]

In [7]:
# Producto dado de alta en SAP ------------------------------------------------
ProductosSAP = pd.read_csv(path_sap_reporte + "\SAP.csv", sep=";")
ProductosSAP

,INSERT_UPDATE Product,code[unique=true],name[lang=es],picture(code)[collection-delimiter=|],thumbnail(code)[collection-delimiter=|],detail(code)[collection-delimiter=|],normal(code)[collection-delimiter=|],others(code)[collection-delimiter=|],thumbnails(code)[collection-delimiter=|],galleryImages(qualifier)[collection-delimiter=|]
0,ApparelStyleVariantProduct,1206956_070,Máscara pestañas base,/1200Wx1200H/1206956070,/96Wx96H/1206956070,/300Wx300H/1206956070,/30Wx30H/1206956070|/65Wx65H/1206956070,/515Wx515H/1206956070,/30Wx30H/1206956070,12069560701
1,ApparelStyleVariantProduct,1215560_051,Perfume Only For You,/izq-/1200Wx1200H/1215560051,/izq-/96Wx96H/1215560051,/izq-/300Wx300H/1215560051,/izq-/30Wx30H/1215560051|/izq-/65Wx65H/1215560051,/izq-/515Wx515H/1215560051,/izq-/30Wx30H/1215560051,12155600511
2,ApparelStyleVariantProduct,1311919_060,Perfume Sunset Love,/1200Wx1200H/1311919060,/96Wx96H/1311919060,/300Wx300H/1311919060,/30Wx30H/1311919060|/65Wx65H/1311919060,/515Wx515H/1311919060,/30Wx30H/1311919060,13119190601
3,ApparelSizeVariantProduct,1502602_034203,Flip flop textura correas,/der-/1200Wx1200H/1502602034,/der-/96Wx96H/1502602034,/der-/300Wx300H/1502602034,/der-/30Wx30H/1502602034|/der-/65Wx65H/1502602034,/der-/515Wx515H/1502602034,/der-/30Wx30H/1502602034,15026020341|15026020342|15026020343
4,ApparelSizeVariantProduct,1502602_034204,Flip flop textura correas,/der-/1200Wx1200H/1502602034,/der-/96Wx96H/1502602034,/der-/300Wx300H/1502602034,/der-/30Wx30H/1502602034|/der-/65Wx65H/1502602034,/der-/515Wx515H/1502602034,/der-/30Wx30H/1502602034,15026020341|15026020342|15026020343
...,...,...,...,...,...,...,...,...,...,...
87458,ApparelSizeVariantProduct,2301014_038000,Esmalte metálico,/2/1200Wx1200H/2301014038,/2/96Wx96H/2301014038,/2/300Wx300H/2301014038,/2/65Wx65H/2301014038,/2/515Wx515H/2301014038,/2/30Wx30H/2301014038,23010140381|23010140382
87459,ApparelStyleVariantProduct,2301054_045,Esmalte glitter,/2/1200Wx1200H/2301054045,/2/96Wx96H/2301054045,/2/300Wx300H/2301054045,/2/65Wx65H/2301054045,/2/515Wx515H/2301054045,/2/30Wx30H/2301054045,23010540451|23010540452
87460,ApparelSizeVariantProduct,2301054_045000,Esmalte glitter,/1/1200Wx1200H/2301054045,/1/96Wx96H/2301054045,/1/300Wx300H/2301054045,/1/65Wx65H/2301054045,/1/515Wx515H/2301054045,/1/30Wx30H/2301054045,23010540451|23010540452
87461,ApparelStyleVariantProduct,2301110_005,Esmalte nacarado,/2/1200Wx1200H/2301110005,/2/96Wx96H/2301110005,/2/300Wx300H/2301110005,/2/65Wx65H/2301110005,/2/515Wx515H/2301110005,/2/30Wx30H/2301110005,23011100051|23011100052
87462,ApparelSizeVariantProduct,2301110_005000,Esmalte nacarado,/2/1200Wx1200H/2301110005,/2/96Wx96H/2301110005,/2/300Wx300H/2301110005,/2/65Wx65H/2301110005,/2/515Wx515H/2301110005,/2/30Wx30H/2301110005,23011100051|23011100052

In [8]:
ProductosSAP["sku"] = (ProductosSAP["code[unique=true]"].str[:7]+ProductosSAP["code[unique=true]"].str[8:]).str[:10].astype(str)
ProductosSAP = ProductosSAP.drop_duplicates(subset="sku", keep="first")

df_sap = ProductosSAP[ProductosSAP['picture(code)[collection-delimiter=|]'].isna()]
df_sap.loc[:,'SAP'] = 'SinFoto'
df_sap = df_sap[['sku', 'SAP']]
df_sap.reset_index(drop=True, inplace=True)
df_sap

C:\Users\fcolin\AppData\Local\Temp\ipykernel_18292\1962489260.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_sap.loc[:,'SAP'] = 'SinFoto'

            sku      SAP
0    1603986103  SinFoto
1    1606956103  SinFoto
2    1609803103  SinFoto
3    1705262103  SinFoto
4    1706658094  SinFoto
..          ...      ...
439  2211894091  SinFoto
440  2211894094  SinFoto
441  2211894095  SinFoto
442  2211894106  SinFoto
443  2218665070  SinFoto

[444 rows x 2 columns]

In [4]:
ProductosSAP

,INSERT_UPDATE Product,code[unique=true],name[lang=es],picture(code)[collection-delimiter=|],thumbnail(code)[collection-delimiter=|],detail(code)[collection-delimiter=|],normal(code)[collection-delimiter=|],others(code)[collection-delimiter=|],thumbnails(code)[collection-delimiter=|],galleryImages(qualifier)[collection-delimiter=|],sku
0,ApparelStyleVariantProduct,1206956_070,Máscara pestañas base,/1200Wx1200H/1206956070,/96Wx96H/1206956070,/300Wx300H/1206956070,/30Wx30H/1206956070|/65Wx65H/1206956070,/515Wx515H/1206956070,/30Wx30H/1206956070,12069560701,1206956070
1,ApparelStyleVariantProduct,1215560_051,Perfume Only For You,/izq-/1200Wx1200H/1215560051,/izq-/96Wx96H/1215560051,/izq-/300Wx300H/1215560051,/izq-/30Wx30H/1215560051|/izq-/65Wx65H/1215560051,/izq-/515Wx515H/1215560051,/izq-/30Wx30H/1215560051,12155600511,1215560051
2,ApparelStyleVariantProduct,1311919_060,Perfume Sunset Love,/1200Wx1200H/1311919060,/96Wx96H/1311919060,/300Wx300H/1311919060,/30Wx30H/1311919060|/65Wx65H/1311919060,/515Wx515H/1311919060,/30Wx30H/1311919060,13119190601,1311919060
3,ApparelSizeVariantProduct,1502602_034203,Flip flop textura correas,/der-/1200Wx1200H/1502602034,/der-/96Wx96H/1502602034,/der-/300Wx300H/1502602034,/der-/30Wx30H/1502602034|/der-/65Wx65H/1502602034,/der-/515Wx515H/1502602034,/der-/30Wx30H/1502602034,15026020341|15026020342|15026020343,1502602034
7,ApparelStyleVariantProduct,1502602_070,Flip flop textura correas,/1200Wx1200H/1502602070,/96Wx96H/1502602070,/300Wx300H/1502602070,/30Wx30H/1502602070|/65Wx65H/1502602070,/515Wx515H/1502602070,/30Wx30H/1502602070,15026020701,1502602070
...,...,...,...,...,...,...,...,...,...,...,...
86097,ApparelStyleVariantProduct,2300882_065,Top satinado con encaje,/3/1200Wx1200H/2300882065,/3/96Wx96H/2300882065,/3/300Wx300H/2300882065,/3/65Wx65H/2300882065,/3/515Wx515H/2300882065,/3/30Wx30H/2300882065,23008820651|23008820652|23008820653|23008820654,2300882065
86102,ApparelStyleVariantProduct,2300947_034,Llavero mariposa brillos,/2/1200Wx1200H/2300947034,/2/96Wx96H/2300947034,/2/300Wx300H/2300947034,/2/65Wx65H/2300947034,/2/515Wx515H/2300947034,/2/30Wx30H/2300947034,23009470341|23009470342,2300947034
86104,ApparelStyleVariantProduct,2300947_038,Llavero mariposa brillos,/2/1200Wx1200H/2300947038,/2/96Wx96H/2300947038,/2/300Wx300H/2300947038,/2/65Wx65H/2300947038,/2/515Wx515H/2300947038,/2/30Wx30H/2300947038,23009470381|23009470382,2300947038
86106,ApparelStyleVariantProduct,2300948_047,Llavero aguacate corazon,/2/1200Wx1200H/2300948047,/2/96Wx96H/2300948047,/2/300Wx300H/2300948047,/2/65Wx65H/2300948047,/2/515Wx515H/2300948047,/2/30Wx30H/2300948047,23009480471|23009480472,2300948047
86108,ApparelStyleVariantProduct,2300948_065,Llavero aguacate corazon,/2/1200Wx1200H/2300948065,/2/96Wx96H/2300948065,/2/300Wx300H/2300948065,/2/65Wx65H/2300948065,/2/515Wx515H/2300948065,/2/30Wx30H/2300948065,23009480651|23009480652,2300948065

In [9]:
# INVENTARIOS --------------------------------------------------------------------------------------------
print("Leyendo base de datos... extrayendo tallas")
from sqlalchemy.engine import URL
from sqlalchemy import create_engine
import json

with open(path_contrasenas) as f:
    credenciales = json.load(f)

try: 
    connection_string = 'DRIVER={SQL Server};SERVER=Shjet-prod;DATABASE=Allocations;UID='+ credenciales['usuario'] +';PWD='+credenciales['password']
    connection_url = URL.create("mssql+pyodbc", query={"odbc_connect": connection_string})
    engine = create_engine(connection_url)
    conn = engine.connect()
except:
    print("Base de datos en mantenimiento")
    exit()
    
query = '''
SELECT  CONCAT([Item No_] ,[Cod_Color]) AS sku
     ,[Division Code]
     ,[Status Code] 
     ,SUM([Inv_E002]) AS [Inv_E002]
     ,SUM([Inv_TransE002]) AS [Inv_TransE002]
     ,SUM([ODS]) AS [ODS] 
     ,SUM([Qtty Pen]) AS [Qtty Pen]
       
  FROM [Flash_BC].[dbo].[PP_Shasacom]
  WHERE [Color] IS NOT NULL 
  AND [Item Category Code] != 'CANDY'
  GROUP BY CONCAT([Item No_] ,[Cod_Color])
     ,[Division Code]
      ,[Item Category Code]
      ,[Product Group Code]
      ,[Oferta]
      ,[Status Code]  
 '''
df_query = pd.read_sql_query(query, conn)
# sustituir los valores nulos por 0
df_query['Qtty Pen'].fillna(0, inplace=True)
# las qtty pen de joyeria deben ser 0 si el status es VAN
df_query.loc[(df_query['Qtty Pen']>0) & (df_query["Division Code"] == "M-JEW")& (df_query["Status Code"] == "VAN"), 'Qtty Pen'] = 0
df_query.loc[(df_query['Qtty Pen']>0) & (df_query["Division Code"] == "W-JEW")& (df_query["Status Code"] == "VAN"), 'Qtty Pen'] = 0
df_query = df_query[['sku', 'Inv_E002', 'Inv_TransE002','ODS', 'Qtty Pen']]
df_query.index = df_query['sku']
df_query.drop('sku', axis=1, inplace=True)
# substitute nan values with 0
df_query.fillna(0, inplace=True)
# substitute negative values with 0
df_query[df_query < 0] = 0
# Sumando todas las columnas
df_query['Total'] = df_query.sum(axis=1)
# Seleccionando solo los productos con un total mayor a 0 
df_query = df_query[df_query['Total']>0]
df_query.reset_index(inplace=True)
df_query

Leyendo base de datos... extrayendo tallas

              sku  Inv_E002  Inv_TransE002  ODS  Qtty Pen  Total
0      1206956070       2.0            0.0  0.0       0.0    2.0
1      1606956030       5.0            0.0  0.0       0.0    5.0
2      1610676070      16.0            0.0  0.0       0.0   16.0
3      1610833006      34.0            0.0  0.0       0.0   34.0
4      1709991094      11.0            0.0  0.0       0.0   11.0
...           ...       ...            ...  ...       ...    ...
16761  2301352063       8.0            0.0  0.0       0.0    8.0
16762  2301358013       8.0            0.0  0.0       0.0    8.0
16763  2301380015       0.0           12.0  0.0       0.0   12.0
16764  2301381012       0.0            6.0  0.0       0.0    6.0
16765  2301525070       0.0            9.0  0.0       0.0    9.0

[16766 rows x 6 columns]

In [10]:
df = pd.merge(df_sap, df_query, on="sku", how="left")
df['Total'].fillna(0, inplace=True)
df['Total'] = df['Total'].astype(int)
df = df[df['Total']>0]
df = pd.merge(df, drive, on="sku", how="left")
df

,sku,SAP,Inv_E002,Inv_TransE002,ODS,Qtty Pen,Total,path
0,1807473070,SinFoto,6.0,0.0,0.0,0.0,6,\Calzado 2019
1,2202158003,SinFoto,6.0,0.0,0.0,0.0,6,\CONNECT HISTORICO\DEFINITIVS CONNECT\DEFINITI...
2,2202231016,SinFoto,1.0,0.0,0.0,0.0,1,\Editadas 2021\Ropa
3,2202233049,SinFoto,1.0,0.0,0.0,0.0,1,\Editadas 2021\Ropa
4,2202403092,SinFoto,3.0,0.0,0.0,0.0,3,\CONNECT HISTORICO\DEFINITIVS CONNECT\DEFINITI...
5,2202826058,SinFoto,1.0,0.0,0.0,0.0,1,\CONNECT HISTORICO\DEFINITIVS CONNECT\DEFINITI...
6,2203097032,SinFoto,1.0,0.0,0.0,0.0,1,\CONNECT HISTORICO\DEFINITIVS CONNECT\DEFINITI...
7,2203122106,SinFoto,8.0,0.0,0.0,0.0,8,\CONNECT HISTORICO\DEFINITIVS CONNECT\DEFINITI...
8,2204273070,SinFoto,6.0,0.0,0.0,0.0,6,\Historico todos los tamaños
9,2204915094,SinFoto,1.0,0.0,0.0,0.0,1,\CONNECT HISTORICO\DEFINITIVS CONNECT\DEFINITI...
10,2205177093,SinFoto,2.0,0.0,0.0,0.0,2,\CONNECT HISTORICO\DEFINITIVS CONNECT\DEFINITI...
11,2205246070,SinFoto,1.0,0.0,0.0,0.0,1,\CONNECT HISTORICO\DEFINITIVS CONNECT\DEFINITI...
12,2205897102,SinFoto,1.0,0.0,0.0,0.0,1,\CONNECT HISTORICO\DEFINITIVS CONNECT\DEFINITI...
13,2206149028,SinFoto,1.0,0.0,0.0,0.0,1,\CONNECT HISTORICO\DEFINITIVS CONNECT\DEFINITI...
14,2218665070,SinFoto,8.0,0.0,0.0,0.0,8,NaN